/**
 * Custom CSS rules for the app.
 */

/* Navbar floats so need margin */
.container {
	margin-top: calc(70px + 5vh);
}

/* Bolds table head (top row) */
.table-head {
	font-weight: bold;
}

/* Emphasize active breadcrumb selection */
.breadcrumb-item.active {
	font-size: 1.35em;
}

.error {
	color: red;
}

.notifications {
	position: absolute;
	left: 30px;
	bottom: 10px;
}

.hover-hand:hover {
	cursor: pointer;
	cursor: hand;
}

.spin-wrapper {
	padding-left: 48%;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
