<!doctype html>
<html ng-app="bookSwapp">
<head>
  <title>BookSwapp</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet" type="text/css">

  <!-- dependencies: bootstrap, angular, fonts -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Angular UI for Bootstrap -->
  <script src="js/ui-bootstrap.min.js"></script>

  <!-- Our app stylesheet and source -->
  <link rel="stylesheet" href="./css/app.css">
  <script src="js/app.js"></script>
</head>

<body ng-controller="homeCtrl">

  <!-- Top navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-book"></span> BookSwapp</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#" ng-click="">Home</a></li>
          <li><a data-toggle="modal" href="#aboutModal" ng-click="">About</a></li>
          <li><a data-toggle="modal" href="#registerModal" ng-click="">Register</a></li>
          <li ng-if="!isLoggedIn()"><a data-toggle="modal" href="#loginModal" ng-click="">Login</a></li>
          <li ng-if="isLoggedIn()"><a href="#" ng-click="processLogout()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Rest of the page -->
  <div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb pull-right">
      <li class="breadcrumb-item" ng-class="{ 'active' : (selectedType === 'all') }"><a href="#" ng-click="selectType('all')">All</a></li>
      <li class="breadcrumb-item" ng-class="{ 'active' : (selectedType === 'sell') }"><a href="#" ng-click="selectType('sell')">Selling</a></li>
      <li class="breadcrumb-item" ng-class="{ 'active' : (selectedType === 'buy') }"><a href="#" ng-click="selectType('buy')">Wanted</a></li>
      <li class="breadcrumb-item" ng-class="{ 'active' : (selectedType === 'swap') }"><a href="#" ng-click="selectType('swap')">Swap</a></li>
    </ol>

    <!-- Database tables -->
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="showBookTable()">Books</button>
      <button type="button" class="btn btn-default" ng-click="showUserTable()">Users</button>
      <button type="button" class="btn btn-default" ng-click="showBookListTable()">Book List</button>
    </div>

    <strong ng-if="!isLoggedIn()">Not logged in</strong>
    <button ng-if="isLoggedIn()" type="button" class="btn btn-success" ng-click="showAddBookModal()">
      <span class="glyphicon glyphicon-plus-sign"></span> Add book
    </button>
    <button ng-if="isLoggedIn()" type="button" class="btn btn-success" ng-click="showUpdateUserModal()">
      <span class="glyphicon glyphicon-user"></span> User
    </button>
    <button ng-if="isLoggedIn()" type="button" class="btn btn-success" ng-click="showMyListingsModal()">
      <span class="glyphicon glyphicon-bookmark"></span> My Listings
    </button>


    <div ng-if="showSomething">ofdignsfdoigsn</div>

    <!-- Main table -->
    <table class="table table-bordered table-hover" id="bookTable">
      <thead class="table-head">
        <tr>
          <th width="5%">#</th>
          <th width="40%">Name</th>
          <th width="10%">Price</th>
          <th width="10%">Status</th>
          <th width="10%">Type</th>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="book in selectedBookList">
          <td>{{ book['book_id'] }}</td>
          <td><a data-toggle="modal" ng-click="getBook(book['book_id']); showBookDetailsModal()">{{ book['name'] }}</td>
          <td>${{ book['price'] | number : 2 }}</td>
          <td>{{ book['status'] }}</td>
          <td>{{ book['trans_type'] }}</td>
          <td><button ng-if="isLoggedIn() && isMyBook(book['book_id'])" type="button" class="btn btn-danger btn-sm" ng-click="deleteBook(book['book_id'])">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <!-- Table of all users -->
    <table class="table table-bordered table-hover" id="userTable">
      <thead class="table-head">
        <tr>
          <!-- <td>#</td> -->
          <th>Email</th>
          <!-- <td>Password</td> -->
          <th>University</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList">
          <!-- <td>{{ user['user_id'] }}</td> -->
          <td><a href="http://bookswapp.apps.mlux.me/api/user/{{ user['user_id'] }}">{{ user['email'] }}</a></td>
          <!-- <td>{{ user['password'] }}</td> -->
          <td>{{ user['university'] }}</td>
          <td>{{ user['location'] }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Table of listings -->
    <table class="table table-bordered table-hover" id="bookListTable">
      <thead class="table-head">
        <tr>
          <td>Listing ID</td>
          <td>Book ID</td>
          <td>User ID</td>
          <td>Date listed</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="listing in listings">
          <td>{{ listing['listing_id'] }}</td>
          <td>{{ listing['book_id'] }}</td>
          <td>{{ listing['user_id'] }}</td>
          <td>{{ listing['date'] }}</td>
          <!-- <td>{{ getBook(1) }} </td> -->
        </tr>
      </tbody>
    </table>

  </div>

  <!-- Login modal -->
  <div class="modal fade" id="loginModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form ng-submit="processLogin()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="loginForm.email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="loginForm.password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End of Login modal -->

  <!-- Register modal -->
  <div class="modal fade" id="registerModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register</h4>
        </div>

        <div class="modal-body">
          <form ng-submit="processRegistration()">

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="registerForm.email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="registerForm.password">
            </div>
            <div class="form-group">
              <label for="university">University</label>
              <input type="text" class="form-control" id="university" placeholder="Enter university" ng-model="registerForm.university">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" placeholder="Enter location" ng-model="registerForm.location">
            </div>
            <button type="submit" class="btn btn-default">Register</button>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End of Register modal -->

  <!-- Add book modal -->
  <div class="modal fade" id="addBookModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add book listing</h4>
        </div>
        <div class="modal-body">

          <form ng-submit="addBook()">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" ng-model="addBookForm.name">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" class="form-control" id="author" ng-model="addBookForm.author">
            </div>
            <div class="form-group">
              <label for="isbn">ISBN</label>
              <input type="text" class="form-control" id="isbn" ng-model="addBookForm.isbn">
            </div>
            <div class="form-group">
              <label for="course">Course Code</label>
              <input type="text" class="form-control" id="course" ng-model="addBookForm.prescribed_course">
            </div>
            <div class="form-group">
              <label for="edition">Edition</label>
              <input type="text" class="form-control" id="edition" ng-model="addBookForm.edition">
            </div>
            <div class="form-group">
              <label for="condition">Condition</label>
              <select class="form-control" name="condition" ng-model="addBookForm.condition">
                <option value="5">As new (5)</option>
                <option value="4">Great (4)</option>
                <option value="3">Good (3)</option>
                <option value="2">Fair (2)</option>
                <option value="1">Poor (1)</option>
              </select>
            </div>
            <div class="form-group">
              <label for="transaction">Transaction type</label>
              <select class="form-control" name="transaction" ng-model="addBookForm.transaction">
                <option value="1">Buying</option>
                <option value="2">Selling</option>
                <option value="3">Trading</option>
              </select>
            </div>
            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" name="status" ng-model="addBookForm.status">
                <option value="1">Available</option>
                <option value="2">Pending</option>
                <option value="3">Sold</option>
              </select>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" class="form-control" id="price" ng-model="addBookForm.price">
            </div>
            <div class="form-group">
              <label for="margin">Margin</label>
              <input type="text" class="form-control" id="margin" ng-model="addBookForm.margin">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" rows="5" id="description" ng-model="addBookForm.description"></textarea>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End of Add book modal -->

  <!-- Show book modal -->
  <div class="modal fade" id="bookDetailsModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Book Details</h4>
        </div>
        <div class="modal-body">

          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th width="20%">Name</th>
                <td>{{ bookData['name'] }}</td>
              </tr>
              <tr>
                <th width="20%">Author</th>
                <td>{{ bookData['author'] }}</td>
              </tr>
              <tr>
                <th width="20%">ISBN</th>
                <td>{{ bookData['isbn'] }}</td>
              </tr>
              <tr>
                <th width="20%">Course</th>
                <td>{{ bookData['course'] }}</td>
              </tr>
              <tr>
                <th width="20%">Edition</th>
                <td>{{ bookData['edition'] }}</td>
              </tr>
              <tr>
                <th width="20%">Condition</th>
                <td>{{ bookData['condition'] }}</td>
              </tr>
              <tr>
                <th width="20%">Transaction type</th>
                <td>{{ bookData['trans_type'] }}</td>
              </tr>
              <tr>
                <th width="20%">Status</th>
                <td>{{ bookData['status'] }}</td>
              </tr>
              <tr>
                <th width="20%">Price</th>
                <td>{{ bookData['price'] }}</td>
              </tr>
              <tr>
                <th width="20%">Margin</th>
                <td>{{ bookData['margin'] }}</td>
              </tr>
              <tr>
                <th width="20%">Description</th>
                <td>{{ bookData['description'] }}</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End of Show book modal -->

  <!-- About modal -->
  <div class="modal fade" id="aboutModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">COMP4920 Project for Semester 2 2016</h4>
        </div>
        <div class="modal-body">
          <p>Bookswapp is a textbook marketplace web application</p>
          <br>
          <p>
            Group 4<br>
            <li>Adrian Groch</li>
            <li>Michelle Lu</li>
            <li>Alex Nguyen</li>
            <li>Michael Su</li>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End of About modal -->

  <!-- Update User modal -->
  <div class="modal fade" id="updateUserModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User Details</h4>
        </div>
        <div class="modal-body">
          <strong>Current details</strong>
          <table class="table table-bordered table-hover">
            <tbody>
              <tr>
                <th width="20%">Email</th>
                <td>{{ userData['email'] }}</td>
              </tr>
              <tr>
                <th width="20%">University</th>
                <td>{{ userData['university'] }}</td>
              </tr>
              <tr>
                <th width="20%">Location</th>
                <td>{{ userData['location'] }}</td>
              </tr>
            </tbody>
          </table>
          
          <form ng-submit="updateUser()">
            <strong>Update details</strong>
<!--             <div class="form-group">
              <label for="user_id">User ID - Remove when Login is implemented properly</label>
              <input type="text" class="form-control" id="user_id" ng-model="updateUser.user_id">
            </div> -->

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" ng-model="updateUserForm.email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" ng-model="updateUserForm.password">
            </div>
            <div class="form-group">
              <label for="university">University</label>
              <input type="text" class="form-control" id="university" ng-model="updateUserForm.university">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input type="text" class="form-control" id="location" ng-model="updateUserForm.location">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          <br><p><strong>Delete account</strong>
          <br>Account deletion is permanent</p>
          <p><button type="button" class="btn btn-danger btn-sm" ng-click="deleteUser()">Delete Account</button></p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End of Update User modal -->

  <!-- My Listings modal -->
  <div class="modal fade" id="myListingsModal">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">My Listings</h4>
        </div>
        <div class="modal-body">

          <table class="table table-bordered table-hover">
            <thead class="table-head">
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="book in userBookList">
                <td>{{ book['name'] }}</a></td>
                <td>Buttons</td>
              </tr>
            </tbody>
          </table>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End of My Listings modal -->

  <form>
    <input type="hidden" ng-model="deleteBookForm.hidden">
  </form>

</body>

</html>
